@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-[#f4f4f4] text-gray-300; */
    font-family: "font-Poppins", "font-serif";
  }
}
/* .hero {
  background-image: url("../public/laptop.jpg");
} */
html {
  scroll-behavior: smooth;
}
